@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: 16px;

  @include mobile {
    font-size: 13px;
  }
}

body {
  font-family: "Rubik", sans-serif;
  color: $secondary-color;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}

img {
  max-width: 100%;
  object-fit: cover;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

@each $val in $numbers {
  .grid-col-#{$val} {
    grid-template-columns: repeat($val, 1fr);
  }
}

@each $val in $numbers {
  .grid-col-md-#{$val} {
    @include tablet {
      grid-template-columns: repeat($val, 1fr);
    }
  }
}

@each $val in $numbers {
  .grid-col-sm-#{$val} {
    @include mobile {
      grid-template-columns: repeat($val, 1fr);
    }
  }
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.grid {
  display: grid;
}

.btn {
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  font-size: 16px;
  line-height: calc(19 / 16);
  border: none;
  outline: none;
  border-radius: 50px;

  &-small {
    padding: 13px 45px;
    font-weight: 500;
    color: $primary-color;
    background-color: $white-color;
    border: 1px solid $primary-color;
    transition: all 0.2s ease;

    &:hover {
      background-color: $primary-color;
      color: $white-color;
      transition: all 0.2s ease;
    }
  }

  &-medium {
    padding: 13px 63px;
    font-weight: 700;
    color: $white-color;
    background-color: $primary-color;

    &-primary {
      color: $primary-color;
      border: 1px solid $primary-color;
      background-color: $white-color;
      &:hover {
        background-color: $primary-color;
        color: $white-color;
        transition: all 0.2s ease;
      }
    }
  }

  &-large {
    padding: 17.5px 77.5px;
    color: $white-color;
    background-color: $primary-color;
    border-radius: 10px;
    font-weight: 700;
    line-height: calc(25 / 16);
  }
}

.heading {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: calc(50 / 35);
  color: $black-color;
}

.subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
}
