.help {
  padding-bottom: 180px;

  &__container {
    &__title {
      text-align: center;

      h3 {
        margin-bottom: 20px;
        max-width: 450px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }

      p {
        margin-bottom: 60px;
        max-width: 550px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &__content {
      &__card {
        padding: 30px;
        border: 2px solid #dddddd;
        border-radius: 10px;
        margin-bottom: 60px;

        @include tablet {
          padding-bottom: 50px;
        }

        &__info {
          @include flex(center, space-between);
          margin-bottom: 20px;

          &__img {
            @include flex(center, space-between);
            gap: 20px;

            div {
              p:first-child {
                font-weight: 500;
                font-size: 18px;
                line-height: calc(30 / 18);
                color: $black-color;
              }

              p:last-child {
                font-weight: 400;
                font-size: 14px;
                line-height: calc(30 / 14);
              }
            }
          }

          &__vote {
            @include flex(center, center);
            gap: 10px;

            i {
              color: #fea250;
            }
          }
        }

        &__comment {
          font-weight: 400;
          font-size: 16px;
          line-height: calc(30 / 16);
          color: $black-color;
        }
      }
    }
  }

  &__sub {
    @include flex(center, space-between);
    padding: 58px 70px;
    transform: translateY(100%);
    border: 1px solid #dddddd;
    border-radius: 10px;

    @include tablet {
      transform: translateY(50%);
      padding: 40px 55px;
    }

    @include mobile {
      flex-direction: column;
      gap: 50px;
      transform: translateY(30%);
      padding: 30px 45px;
    }

    &__info {
      max-width: 410px;
      width: 100%;

      h3 {
        margin-bottom: 20px;
        line-height: calc(45 / 35);
      }
    }

    a {
      position: relative;

      &::before {
        content: "";
        width: 211.83px;
        height: 60px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(245, 56, 56, 0.35);
        filter: blur(54px);
        border-radius: 10px;
      }
    }
  }

  /* slick slider */
  .slick-track {
    display: flex;
    gap: 50px;

    @include tablet {
      padding-bottom: 20px;
    }
  }

  .slick-dots {
    list-style-type: none;
    @include flex(center, flex-start);
    gap: 0 15px;
    transform: translateY(50%);

    @include tablet {
      @include flex(center, center);
    }

    button {
      font-size: 0;
      background-color: #dde0e4;
      width: 15px;
      height: 15px;
      border-radius: 100rem;
      transition: all 0.3s ease;
    }

    .slick-active button {
      background-color: $primary-color;
      width: 45px;
      height: 15px;
    }
  }

  .slick-current {
    border: 2px solid $primary-color;
  }
  .slick-arrow {
    @include flex(center, center);
    width: 60px;
    height: 60px;
    border-radius: 100rem;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    z-index: 10;
  }

  .slick-prev {
    border: 2px solid #f53838;
    background-color: $white-color;
    right: 80px;

    i {
      color: $primary-color;
      font-size: 20px;
    }
  }

  .slick-next {
    background-color: $primary-color;
    right: 0;

    i {
      color: $white-color;
      font-size: 20px;
    }
  }
}
